@import "tailwindcss";

:root {
  --background: #202125;
  --foreground: #171717;
  --primary: #3712a8;
  --secondary: #f8f8fc;
  --muted: #f8f8fc;
  --primary-foreground: #efecfe;
  --secondary-foreground: #efecfe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

body {
  color: var(--foreground);
  font-family: var(--font-inter), Helvetica, sans-serif;
}

/* Custom Scrollbar */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(75, 25, 230, 0.4) transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: rgba(75, 25, 230, 0.4);
  border-radius: 3px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: rgba(75, 25, 230, 0.6);
}
